<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="css/style.css">
	</head>
	
	<body>
		<div class="container"><h2>Dream</h2></div>

		<script src="js/underscore-min.js"></script>
		<script src="js/zepto-min.js"></script>
		<script src="js/backbone-min.js"></script>
	</body>
</html>